<a href="https://colab.research.google.com/github/m10923039/m10923039_hw01/blob/main/test01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, recall_score, precision_score
from sklearn.metrics import precision_recall_fscore_support
import tensorflow as tf
from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.layers import Input, Dense, Activation,Dropout

讀取檔案

In [3]:
df_data=pd.read_csv('/content/drive/MyDrive/ObesityDataSet_raw_and_data_sinthetic.csv')

In [4]:
df_x=df_data.drop(['NObeyesdad'],axis=1)
df_y=df_data.loc[:,'NObeyesdad']
df_x['CH2O'].value_counts()
df_y.value_counts()

Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: NObeyesdad, dtype: int64

# **資料前處理**

## lable encoding

## family_history_with_overweight 超重的家族病史(是/否) <br>
no  -> 0 <br>
yes  -> 1
## SMOKE 抽煙(是/否) <br>
no  -> 0 <br>
yes  -> 1 <br>
## SCC 卡路里消耗監視(是/否)
no  -> 0 <br>
yes  -> 1 <br>
## CAEC 兩餐之間的食物消耗量
No  ->  1 <br>
no  ->  1 <br>
Sometimes  ->  2 <br>
Frequently  ->  3 <br>
Always  ->  4 <br>
## CALC 酒精消耗量
No  ->  1 <br>
no  ->  1 <br>
Sometimes  ->  2 <br>
Frequently  ->  3 <br>
Always  ->  4 <br>
# one hot 欄位
Gender 性別<br>
MTRANS 交通工具<br>

In [5]:
# df_x
df_x.loc()[df_x['family_history_with_overweight']=='no','family_history_with_overweight']=0
df_x.loc()[df_x['family_history_with_overweight']=='yes','family_history_with_overweight']=1

df_x.loc()[df_x['FAVC']=='no','FAVC']=0
df_x.loc()[df_x['FAVC']=='yes','FAVC']=1

df_x.loc()[df_x['SMOKE']=='no','SMOKE']=0
df_x.loc()[df_x['SMOKE']=='yes','SMOKE']=1

df_x.loc()[df_x['SCC']=='no','SCC']=0
df_x.loc()[df_x['SCC']=='yes','SCC']=1

df_x.loc()[df_x['CAEC']=='No','CAEC']=1
df_x.loc()[df_x['CAEC']=='no','CAEC']=1
df_x.loc()[df_x['CAEC']=='Sometimes','CAEC']=2
df_x.loc()[df_x['CAEC']=='Frequently','CAEC']=3
df_x.loc()[df_x['CAEC']=='Always','CAEC']=4

df_x.loc()[df_x['CALC']=='no','CALC']=1
df_x.loc()[df_x['CALC']=='Sometimes','CALC']=2
df_x.loc()[df_x['CALC']=='Frequently','CALC']=3
df_x.loc()[df_x['CALC']=='Always','CALC']=4

df_x[['family_history_with_overweight', 'FAVC', 'CAEC', 'SMOKE', 'SCC','CALC']] =df_x[['family_history_with_overweight', 'FAVC', 'CAEC', 'SMOKE', 'SCC','CALC']].astype(int)

x = pd.get_dummies(df_x)
y = pd.get_dummies(df_y)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
# x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.15)

In [6]:
x_train.dtypes

Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight      int64
FAVC                                int64
FCVC                              float64
NCP                               float64
CAEC                                int64
SMOKE                               int64
CH2O                              float64
SCC                                 int64
FAF                               float64
TUE                               float64
CALC                                int64
Gender_Female                       uint8
Gender_Male                         uint8
MTRANS_Automobile                   uint8
MTRANS_Bike                         uint8
MTRANS_Motorbike                    uint8
MTRANS_Public_Transportation        uint8
MTRANS_Walking                      uint8
dtype: object

In [7]:
x_train

            Age    Height  ...  MTRANS_Public_Transportation  MTRANS_Walking
1108  19.027417  1.588147  ...                             1               0
1079  24.751511  1.735343  ...                             1               0
2040  25.982261  1.629225  ...                             1               0
1871  21.001969  1.736215  ...                             1               0
556   18.000000  1.781543  ...                             1               0
...         ...       ...  ...                           ...             ...
514   22.142432  1.596110  ...                             1               0
1683  21.654800  1.755938  ...                             1               0
650   23.035829  1.598612  ...                             1               0
1233  22.661556  1.660324  ...                             1               0
179   21.000000  1.620000  ...                             1               0

[1688 rows x 21 columns]

In [8]:
y_train

      Insufficient_Weight  ...  Overweight_Level_II
1108                    0  ...                    1
1079                    0  ...                    1
2040                    0  ...                    0
1871                    0  ...                    0
556                     1  ...                    0
...                   ...  ...                  ...
514                     1  ...                    0
1683                    0  ...                    0
650                     1  ...                    0
1233                    0  ...                    0
179                     0  ...                    0

[1688 rows x 7 columns]

In [9]:
input_layer = Input(shape=(x_train.shape[1],))
dense_layer_1 =Dense(32,kernel_initializer=tf.keras.initializers.GlorotNormal() ,activation='relu', name ="nl1" )(input_layer)
dense_layer_2 = Dense(16,kernel_initializer=tf.keras.initializers.GlorotNormal(),activation='relu', name ="nl2" )(dense_layer_1)
dense_layer_2 = Dense(10,activation='relu', name ="nl3" )(dense_layer_2)
dense_layer_2 = Dense(10,activation='relu', name ="nl4" )(dense_layer_2)
dense_layer_2 = Dropout(0.5)(dense_layer_2)
output = Dense(y_train.shape[1],activation='softmax')(dense_layer_2)
model = Model(inputs=input_layer, outputs=output)
print(model.summary())

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 21)]              0
_________________________________________________________________
nl1 (Dense)                  (None, 32)                704
_________________________________________________________________
nl2 (Dense)                  (None, 16)                528
_________________________________________________________________
nl3 (Dense)                  (None, 10)                170
_________________________________________________________________
nl4 (Dense)                  (None, 10)                110
_________________________________________________________________
dropout (Dropout)            (None, 10)                0
_________________________________________________________________
dense (Dense)                (None, 7)                 77
=================================================================
Total params: 1,589
Trainable params: 1,589
Non-trainable params: 0
_________________________________________________________________
None

In [10]:
callback = tf.keras.callbacks.EarlyStopping(monitor='loss',mode='min', patience=5)
Adam = tf.optimizers.Adam(lr=0.003, beta_1=0.9, beta_2=0.997, epsilon=1e-08, decay=0.0)
model.compile(optimizer=Adam, 
              loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
              metrics = [tf.keras.metrics.Precision(),tf.keras.metrics.Recall()]
              )
history = model.fit(x=x_train, y=y_train,  epochs=50,batch_size =3, callbacks=[callback] )

Epoch 1/50
563/563 [==============================] - 2s 1ms/step - loss: 2.2388 - precision: 0.0000e+00 - recall: 0.0000e+00
Epoch 2/50
563/563 [==============================] - 1s 1ms/step - loss: 1.9296 - precision: 0.0054 - recall: 4.0314e-05
Epoch 3/50
563/563 [==============================] - 1s 1ms/step - loss: 1.8107 - precision: 0.4840 - recall: 0.0184
Epoch 4/50
563/563 [==============================] - 1s 1ms/step - loss: 1.6811 - precision: 0.4679 - recall: 0.0513
Epoch 5/50
563/563 [==============================] - 1s 1ms/step - loss: 1.6177 - precision: 0.6362 - recall: 0.0684
Epoch 6/50
563/563 [==============================] - 1s 1ms/step - loss: 1.6171 - precision: 0.6421 - recall: 0.0707
Epoch 7/50
563/563 [==============================] - 1s 1ms/step - loss: 1.5445 - precision: 0.6530 - recall: 0.0864
Epoch 8/50
563/563 [==============================] - 1s 1ms/step - loss: 1.5344 - precision: 0.6420 - recall: 0.0815
Epoch 9/50
563/563 [==============================] - 1s 1ms/step - loss: 1.5137 - precision: 0.6939 - recall: 0.0871
Epoch 10/50
563/563 [==============================] - 1s 1ms/step - loss: 1.4647 - precision: 0.6634 - recall: 0.0947
Epoch 11/50
563/563 [==============================] - 1s 2ms/step - loss: 1.5076 - precision: 0.6624 - recall: 0.0840
Epoch 12/50
563/563 [==============================] - 1s 2ms/step - loss: 1.5299 - precision: 0.6502 - recall: 0.0827
Epoch 13/50
563/563 [==============================] - 1s 1ms/step - loss: 1.5101 - precision: 0.5451 - recall: 0.0839
Epoch 14/50
563/563 [==============================] - 1s 1ms/step - loss: 1.5145 - precision: 0.6488 - recall: 0.0818
Epoch 15/50
563/563 [==============================] - 1s 1ms/step - loss: 1.5005 - precision: 0.6356 - recall: 0.0787
Epoch 16/50
563/563 [==============================] - 1s 1ms/step - loss: 1.4628 - precision: 0.7063 - recall: 0.0961
Epoch 17/50
563/563 [==============================] - 1s 2ms/step - loss: 1.4788 - precision: 0.5978 - recall: 0.0697
Epoch 18/50
563/563 [==============================] - 1s 1ms/step - loss: 1.4736 - precision: 0.5798 - recall: 0.0879
Epoch 19/50
563/563 [==============================] - 1s 1ms/step - loss: 1.3793 - precision: 0.6844 - recall: 0.1463
Epoch 20/50
563/563 [==============================] - 1s 1ms/step - loss: 1.2688 - precision: 0.7189 - recall: 0.2434
Epoch 21/50
563/563 [==============================] - 1s 1ms/step - loss: 1.1645 - precision: 0.6922 - recall: 0.2676
Epoch 22/50
563/563 [==============================] - 1s 1ms/step - loss: 1.1748 - precision: 0.7035 - recall: 0.2809
Epoch 23/50
563/563 [==============================] - 1s 1ms/step - loss: 1.1226 - precision: 0.7349 - recall: 0.2740
Epoch 24/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0939 - precision: 0.7109 - recall: 0.3329
Epoch 25/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0403 - precision: 0.7460 - recall: 0.3431
Epoch 26/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9946 - precision: 0.7444 - recall: 0.3864
Epoch 27/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0651 - precision: 0.7236 - recall: 0.3651
Epoch 28/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0462 - precision: 0.7444 - recall: 0.3793
Epoch 29/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0526 - precision: 0.7384 - recall: 0.3466
Epoch 30/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0386 - precision: 0.7673 - recall: 0.3780
Epoch 31/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9904 - precision: 0.7495 - recall: 0.3917
Epoch 32/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0198 - precision: 0.7735 - recall: 0.3689
Epoch 33/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9817 - precision: 0.7696 - recall: 0.4101
Epoch 34/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9627 - precision: 0.7921 - recall: 0.3927
Epoch 35/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9966 - precision: 0.7838 - recall: 0.3858
Epoch 36/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9931 - precision: 0.7775 - recall: 0.3639
Epoch 37/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9568 - precision: 0.7894 - recall: 0.3940
Epoch 38/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9052 - precision: 0.7788 - recall: 0.4209
Epoch 39/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9502 - precision: 0.7835 - recall: 0.3842
Epoch 40/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9625 - precision: 0.7671 - recall: 0.4306
Epoch 41/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9367 - precision: 0.7559 - recall: 0.4025
Epoch 42/50
563/563 [==============================] - 1s 1ms/step - loss: 1.0435 - precision: 0.7539 - recall: 0.4042
Epoch 43/50
563/563 [==============================] - 1s 2ms/step - loss: 0.9212 - precision: 0.7216 - recall: 0.4168
Epoch 44/50
563/563 [==============================] - 1s 2ms/step - loss: 0.9585 - precision: 0.7652 - recall: 0.3928
Epoch 45/50
563/563 [==============================] - 1s 1ms/step - loss: 0.9539 - precision: 0.7805 - recall: 0.4034
Epoch 46/50
563/563 [==============================] - 1s 2ms/step - loss: 1.0055 - precision: 0.6865 - recall: 0.3900

**指標F1**

In [12]:
preds = model.evaluate(x = x_test, y = y_test)

F1 = 2 * (preds[1] * preds[2]) / (preds[1] + preds[2])
print('Precision', preds[1])
print('Recall}', preds[2])
print('F1',F1)

14/14 [==============================] - 0s 1ms/step - loss: 0.7201 - precision: 0.7529 - recall: 0.4610
Precision 0.7528957724571228
Recall} 0.4609929025173187
F1 0.5718475089082375

In [ ]:

# pd.DataFrame(history.history).plot(figsize = (8, 5))
# plt.grid(True)
# plt.gca().set_ylim(0, 2.5)
# plt.show()